<footer class="fixed bottom-0 left-0 right-0 bg-white border-t">
    <div class="max-w-md mx-auto flex justify-between items-center p-4">
        <form action="/home" method="get">
            <button type="submit" class="flex flex-col items-center">
                <span class="text-2xl text-blue-500">🏠</span>
                <span class="text-xs mt-1">홈</span>
            </button>
        </form>
        <form action="/home" method="get">
        <button class="flex flex-col items-center">
            <span class="text-2xl">💳</span>
            <span class="text-xs mt-1">내 소비</span>
        </button>
        </form>
        <form action="/home" method="get">
        <button class="flex flex-col items-center">
            <span class="text-2xl">➕</span>
            <span class="text-xs mt-1">보내기</span>
        </button>
        </form>
        <form action="/all-functions" method="get">
        <button class="flex flex-col items-center">
            <span class="text-2xl">☰</span>
            <span class="text-xs mt-1">전체</span>
        </button>
        </form>

    </div>
</footer>